
body{
  background: #f9f9f9;
}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

a:hover {
    color: pink;
}

a:active {
    color: blue;
}
.searchBarForm{
  height: 150px;
}
.search-bar{
  text-align: center;
  opacity: .9;
}

.search-bar input{
  width: 100%;
}

.video-item img{
/*  max-width: 64px;
  min-width: 100%;*/
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity: 0.95;
  margin-bottom: 10px;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.upperLanding{
  width: 100%;
  position: relative;
   background-image: url('./images/logo.png');
   background-position: 50% 30%;
   background-repeat: no-repeat;
}

@media only screen and (min-width : 768px) {
.upperLanding{
  width: 100%;
   background-image: url('./images/a3.jpg');
   background-size: 100% 100%;
}

.searchBarForm{
  height: 100%;
}

}
.contentsUpperLanding{

  margin: 0 auto;
  position: relative;
  padding: 10px;
}
.card{
  margin-bottom: 10px;
}

footer{
text-align: center;
}





.loadingContainer{
  background-color: #531F67;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
  }
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;

}
.object{
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-left: 5px dashed #F087E9;
  border-right: 5px dashed #F087E9;
  border-top: 5px dashed transparent;
  border-bottom: 5px dashed transparent;
  animation: animate 2s infinite;
  }

#object_one{
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
  }

#object_two{
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  animation-delay: 0.1s;
  }

#object_three{
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  animation-delay: 0.2s;
  }
#object_four{
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  animation-delay: 0.3s;

  }

@keyframes animate {

50% {

    transform: rotate(180deg);
  }

100% {
    transform: rotate(0deg);
  }


}




